[ ] - Download dados

[ ] - Engenharia de atributos

[ ] - Análise e visualização de dados

[ ] - Contrução de modelo

[ ] - Avaliação de modelo

[ ] - Deploy

In [1]:
import yfinance as yf
import pandas as pd

In [17]:
# Y-m-d
start = '2013-01-01'
end = '2023-09-01'

In [18]:
vale = yf.download('VALE', 
                   start=start, 
                   end=end)

[*********************100%***********************]  1 of 1 completed

In [19]:
vale

             Open       High        Low      Close  Adj Close    Volume
Date
2013-01-02  21.76  21.879999  21.379999  21.490000  12.106178  23912400
2013-01-03  21.25  21.510000  21.080000  21.250000  11.970977  18302200
2013-01-04  20.91  21.110001  20.650000  21.070000  11.869577  18256800
2013-01-07  20.93  20.969999  20.490000  20.680000  11.649874  15003800
2013-01-08  20.52  20.580000  20.309999  20.370001  11.475239  12462900
...           ...        ...        ...        ...        ...       ...
2023-08-25  12.77  12.830000  12.650000  12.740000  12.740000  13184800
2023-08-28  12.81  12.950000  12.760000  12.920000  12.920000   9681400
2023-08-29  12.99  13.380000  12.930000  13.330000  13.330000  21719400
2023-08-30  13.43  13.460000  13.250000  13.330000  13.330000  10979000
2023-08-31  13.36  13.420000  13.150000  13.170000  13.170000  15771800

[2685 rows x 6 columns]